cycler==0.10.0
dask==2021.10.0
decorator==4.4.2
joblib==1.2.0
kiwisolver==1.3.1
matplotlib==3.3.3
networkx==2.5
numpy==1.22.0
opencv-python==4.2.0.32
Pillow==10.2.0
pkg-resources==0.0.0
pyparsing==2.4.7
python-dateutil==2.8.1
PyYAML==5.4
scikit-image==0.12.1
scikit-learn==0.21.3
scipy==1.10.0
six==1.15.0
toolz==0.11.1
